<h1 mat-dialog-title>GGC's Data on Display</h1>
<mat-dialog-content>
    <h3 class="containers">
        Description
    </h3>
    <p class="content">
        Our team is working on an interactive mapping application as part of our Software Development course with Dr. Anca Mihu. 
        The application will be accessed as a website through Georgia Gwinnett College (GGC) that will be available to everyone. 
        The application displays a graphical representation of raw data, provided by GGC departments and will be confined to the
        Northeast Metro Atlanta region. A user can navigate within the region, which will dynamically update the data points 
        displayed in the interactive map. Additionally, a user will be able to customize the data types displayed through selection 
        filters corresponding to different categories. Another feature allows the user to select an individual data point, which 
        will display a popup window with details for the point. The map will provide a convenient visualization tool for a wide 
        variety of historical and demographic data in the Gwinnett County region.
    </p>
    <h3 class="containers">
        Team Roles
    </h3>
    <ul>
        <li><b>Ryan Cunico</b> - Lead Developer and Documentation</li>
        <li><b>Sarah Redder</b> - Team Manager and Testing Lead</li>
        <li><b>Richard Smith</b> - Lead Developer and Data Modeler</li>
        <li><b>Ruth Whitehouse</b> - UI/UX lead and Customer liason</li>
    </ul>
</mat-dialog-content>
<!-- <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-actions> -->