<mat-sidenav-container class="sidenav-container">
  <mat-sidenav 
    #drawer class="sidenav" id="drawer"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <div id="filters" [style.display]="isVisible ? 'block' : 'none'">
        <mat-toolbar>Data Filter Selection</mat-toolbar>
        <mat-nav-list>
          <table cellspacing="10">
            <tr *ngFor="let element of dataCategories; index as i">
              <td><mat-checkbox [checked]="true" (change)="toggleVisibility(element)">{{ element }}</mat-checkbox></td>
            </tr>
          </table>
        </mat-nav-list>
        <div id="about" style="position:absolute; bottom: 0px; width: 90%; margin: auto; margin-bottom: 20px; text-align:center">
          <p>More Information</p>
          <button mat-raised-button>About this Project</button>
        </div>
    </div>
    <div id="details" [style.display]="isVisible ? 'none' : 'block'">
      <mat-toolbar>
        <button mat-raised-button (click)="this.isVisible = !this.isVisible">Go Back</button>
      </mat-toolbar>
      <mat-nav-list>
        <table cellspacing="1" border="1">
          <tr>
            <th>Type</th>
            <th>Value</th>
          </tr>
          <tr *ngFor="let items of dataPoint | keyvalue">
            <td>{{ items.key }}</td>
            <td>
              <div *ngIf="isUrl(items.value);else notLink">
                  <a id="mediaLink" href="{{ items.value }}" target="_blank"><img src="{{ items.value }}" alt="Link to Media" width="100" height="100"></a>
                </div>
                <ng-template #notLink>
                  {{ items.value }}
              </ng-template>  
            </td>
            <!-- <td>
              <div [ngSwitch]="isUrl(items.value)">
                <span *ngSwitchCase=true><a href="https://www.google.com" target="_blank">{{ items.value }}</a></span>
                <span *ngSwitchCase=false>{{items.value}}</span>
              </div>
            </td> -->
          </tr>
          </table>
      </mat-nav-list>
    </div>    
    </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="accent-light">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <!-- *ngIf="isHandset$ | async"> -->
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div id="title">GGC's Data on Display</div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="content-container">
      <app-comp-agm-map
        [mapDataList]='dataList'
        [categories]='dataCategories'
        (dataPointDetailsClicked)="updateDetails($event)">
      </app-comp-agm-map>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
