.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 400px;
  background: #00704a;
}

.sidenav .mat-toolbar {
  /* background: #77bc1f; */
  height: 10vh;
}

.mat-sidenav-content .mat-toolbar {
  background: #00704a;
  height: 10vh;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

#title {
  text-align: center
}

table {
  text-align: left;
  margin: auto;
  table-layout: fixed;
  word-wrap: break-word;
}

#details .mat-nav-list table {
  text-align: center;
  width: 95%;
  margin: auto;
  /* border: 2px solid black; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#details .mat-nav-list table tr {
  border: 2px solid grey;
}

#details .mat-nav-list table tr td {
  padding: 10px;
}

#details .mat-nav-list table tr th {
  font-size: 26px;
  padding: 10px;
}

#mediaLink {
  text-decoration: underline;
  color: greenyellow
}