.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 400px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

#title {
  text-align: center
}

table {
  text-align: center;
  margin: auto;
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;
}