<mat-sidenav-container class="sidenav-container">
  <mat-sidenav 
    #drawer class="sidenav" 
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar>Data</mat-toolbar>
    <mat-nav-list>
      <table cellspacing="10" style="margin:auto">
          <tr>
            <td><mat-checkbox class="example-margin" [(ngModel)]="checked1">Category 1</mat-checkbox></td>
            <td>{{ checked1 }}</td>
          </tr>
          <tr>
            <td><mat-checkbox class="example-margin" [(ngModel)]="checked2">Category 2</mat-checkbox></td>
          </tr>
          <tr>
            <td><mat-checkbox class="example-margin" [(ngModel)]="checked3">Category 3</mat-checkbox></td>
          </tr>
          <tr>
            <td><mat-checkbox class="example-margin" [(ngModel)]="checked4">Category 4</mat-checkbox></td>
          </tr>
          <tr>
            <td><mat-checkbox class="example-margin" [(ngModel)]="checked5">Category 5</mat-checkbox></td>
          </tr>
          <tr>
            <td></td>
          </tr>
      </table>
      <!-- <table>
        <tr *ngFor="let category of dataMap | keyvalue">
          <td *ngFor="let element of category.value"><mat-checkbox (change)="someEvent(element.cat)">{{ element.name }}</mat-checkbox></td>
        </tr>
      </table> -->
      <table>
        <tr *ngFor="let element of dataList; index as i">
          <td><mat-checkbox>{{ element.cat }} {{ element.lat }} {{ element.lng }}</mat-checkbox></td>
        </tr>
      </table>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <!-- *ngIf="isHandset$ | async"> -->
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <div id="title">GGC's Data on Display</div>
        <div id="logo" style="float:right"><img src="assets/logo.png" alt=""></div>
      </mat-toolbar>
    <!-- Add Content Here -->
    <app-comp-agm-map [mapDataList]='dataList'></app-comp-agm-map>
    <!-- <app-data></app-data> -->
  </mat-sidenav-content>
</mat-sidenav-container>
