.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 400px;
  background: #00704a;
}

.sidenav .mat-toolbar {
  /* background: #77bc1f; */
  height: 10vh;
}

.mat-sidenav-content .mat-toolbar {
  background: #00704a;
  height: 10vh;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

#title {
  text-align: center
}

table {
  text-align: center;
  margin: auto;
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;
}

#details .mat-nav-list table {
  width: 95%;
  margin: auto;
  border: 2px solid black;
}

#mediaLink {
  text-decoration: underline;
  color: greenyellow
}