<div class="container">
        <!-- <h1>{{ title }}</h1> -->
        <div id="filterDiv">
                <button id="hideShowDiv" type="submit" (click)="toggleDiv()"></button>
          <p>Filter area</p>
                <p>Row 2</p>
          <label class="container" id="test">One
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
          </label>

          <label class="container" id="test2">Two
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>

          <label class="container" id="test3">Three
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>

          <label class="container" id="test4">Four
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
            </div>
            <div id="mainDiv">
              <!--<button id="hideShowDiv2" type="submit" (click)="toggleDiv()"></button>-->
                <app-comp-agm-map></app-comp-agm-map>
            </div>
</div>


